<h1>API OPERATION </h1>
<div class="container">
    <a routerLink="/add"><button class="btn btn-primary ml-3 mt-3">Add Data From API</button></a>
    <a routerLink="/delete"><button class="btn btn-primary ml-3 mt-3">Delete Data Through API </button></a>
    <a routerLink="/update"><button class="btn btn-primary ml-3 mt-3">Update Data Through API</button></a>
    <a routerLink="/view" ><button class="btn btn-primary ml-3 mt-3">View Data From API</button></a>
</div>
<hr>
<router-outlet></router-outlet>
